@font-face {
    font-family: heading;
    src: url(./GravitasOne-Regular.ttf);
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width : 100%;
}

#intro{
    background-color: rgb(0, 0, 78);
    text-align: center;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#intro h1{
    font-size: 100px;
}
#intro h5{
    font-size: 20px;
}
