@font-face {
    font-family: heading;
    src: url(./GravitasOne-Regular.ttf);
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width : 100%;
}

#intro{
    background-color: rgb(0, 0, 78);
    text-align: center;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#intro h1{
    font-size: 100px;
}
#intro h5{
    font-size: 20px;
}
#about{
    margin-top: 10px;
    width : 80%;
    margin-left : 10%;
    text-align: center;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;  
    border: 1px solid black;
    border-radius: 5px;
}    
#about p{
    font-size: large;
    font-weight: bold;
}
#education{
    margin-top: 10px;
    width : 80%;
    margin-left : 10%;
    text-align: center;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;  
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 114);
}    
#education p{
    font-size: large;
    font-weight: bold;
}
div{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}
#skills{
    margin-top: 10px;
    width : 80%;
    margin-left : 10%;
    text-align: center;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;  
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(108, 206, 255);
}    
#skills p{
    font-size: large;
    font-weight: bold;
}
#contact{
    margin-top: 10px;
    width : 80%;
    margin-left : 10%;
    text-align: center;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;  
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 114);
}    
#contact p{
    font-size: large;
    font-weight: bold;
}
#footer{
    text-align: center;
    background-color: rgb(60, 60, 60);
    color: white;
    margin-top: 2%;
    padding: 10px;
}
